.icon{
	position: absolute;
	right: 15px;
	top: 70px;
	font-size: 20px;
	text-decoration: none;
}
#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}
